* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header h1 {
  font-size: 80px;
}
.exercise ul .nav-item {
  width: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.tab-content h1 {
  color: orange;
}
.tab-content p,
.tab-content table {
  font-size: 20px;
}
